body{
    background-color: #eae2b7;
   /* background-size:cover; */
    background-size: cover;
    /* In the above stuff along with the content the image is also getting scrolled to avoid follow below thing*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* background-repeat: repeat; */
    background-attachment:fixed;  
}
.maincontainer{
    font-family: 'Poppins', sans-serif;
    height: 1000px;
    width: 100vw;
    /* background-attachment: scroll !important; */
    background-color: aquamarine;
}
.container{
    margin-top: 30px;
    border: 2px solid red ;
    border-radius: 5px;
    height: 300px;
    width: 150px;
    background-color: bisque;
}

.navbar-brand{
    color: white;
}

.head_title{
    display: flex;
}

.head_Title{
    font-family: 'Poppins', sans-serif;
    margin: 5px 0px 0px 10px;
}
.form-02{
    margin-left: 10px;
}
.button-01{
    margin-left: 10px;
}
.card{
    margin-top: 10px;
}
#excel_data{
    border: 2px solid black;
    border-radius: 10px;
}