body{
    /* background-color: aquamarine; */
    max-height: fit-content;
   /* background-size:cover; */
    background-size: cover;
    /* In the above stuff along with the content the image is also getting scrolled to avoid follow below thing*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-repeat: repeat;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREzN-shBEp_sIgDlfrSE8TH8D6frX7I3sVt3MIn4fXkg&usqp=CAU&ec=48665701");
    background-attachment:fixed;  
    /* height: 100vh; */

}
.maincontainer{
    font-family: 'Poppins', sans-serif;
    height: 1000px;
    width: 100vw;
    
    /* background-attachment: scroll !important; */
    /* background-color: aquamarine; */

}
.container{
    margin-top: 30px;
    border: 2px solid red ;
    border-radius: 5px;
    height: 300px;
    width: 150px;
    background-color: bisque;
}

.navbar-brand{
    color: white;
}

.head_title{
    display: flex;
}

.head_Title{
    font-family: 'Poppins', sans-serif;
    margin: 5px 0px 0px 10px;
}
.form-02{
    margin-left: 10px;
    width: 220px !important;
}
.button-01{
    margin-left: 10px;
}
.card{
    margin-top: 10px;
}
#excel_data{
    overflow-x: scroll;
    border: 2px dashed black;
    width: 1122px;
    border-radius: 10px;
    font-size: small;
}