body{
    background-color: #eae2b7;
   background-image:url("https://media.istockphoto.com/id/1180992730/video/cartoon-character-man-talking-isolated-on-green-background-usable-for-presentations.jpg?s=640x640&k=20&c=80pC3hVuyCsfrrGcAJi6fOHosb91OAUQVVlEa0c_HtE=");
   /* background-size:cover; */
    background-size: cover;
    /* In the above stuff along with the content the image is also getting scrolled to avoid follow below thing*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* background-repeat: repeat; */
    background-attachment:fixed;
    padding-top: 80px;
}